:root{
    --white : #FFFFFF;
    --black : #181418;
    --gray : #E2DCD9;
    --darkGray : #38333C;
    --very-ligth-pink : #c7c7c740;
    --orange : #EB5E32;
    --ligthOrange : #F08340;
    --fontJupiter : 'Jupiteroid';
    --fontBitstream : 'Bitstream Vera Sans Mono';
    ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*1rem = 10px*/
}
body{
    background-image:url(../assets/background5.png);
    background-size: cover;
}
h1{
    font-family: var(--fontJupiter);
    font-size: 3rem;
}
p{
    font-family: var(--fontJupiter);
    font-size: 1.9rem;
}
/* class */
.container-header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-columns: auto;
    border-bottom: 0.1rem solid var(--gray);
}
.container-header .logo{
    grid-column: 2;
    margin: 0 auto;
}
.logo{
    width: 10rem;
}
.background-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.container-paragraph p{
    margin: 2rem;
}
.container-paragraph p:last-child{
    font-family: var(--fontBitstream);
}
.container-maintenance{
    margin: -5rem auto -6rem auto;
}
.maintenance{
    width: 15rem;
}
.container-logo{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.logo-whatsapp{
    width: 8rem;
}
.logo-instagram{
    width: 8rem;
}
.container_proposal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_proposal{
    width: 50rem;
}