@media (max-width: 375px) {
    .img_modal{
     max-width: 99%;
    }
 }
@media (max-width: 640px) {
    .container-paragraph{
        margin: 8;
        text-align: center;
    }
    .container_proposal{
        margin-top: 2rem;
        text-align: center;
        gap: 2rem;
    }
    .img_proposal{
        width: 100%;
    }
    .img_modal{
        width: 100%;
    }
    .img_modal_close{
        top: 1rem;
        left: 0rem;
        padding: 2rem;
    }
}
@media (min-width: 667px) {
    .modal_container{
        display: flex;
    }
    .img_modal{
        max-width: 90%;
        margin: 0 auto;
    }
   .img_modal_close{
    padding: 1;
    left: 1rem;
   }
}
@media (max-width: 896px) {
    .modal_container{
        display: flex;
    }
    .img_modal{
        max-width: 75%;
        margin: 0 auto;
    }
}
@media (max-width: 900px) {
    .modal_container{
        display: flex;
    }
    .img_modal{
        max-width: 70%;
        margin: 0 auto;
    }
}
@media (max-width: 393px) {
    .img_modal{
        max-width: 98%;
    }
 }
@media (max-width: 414px) {
    .img_modal{
        max-width: 98%;
    }
 }
 @media (min-width: 1600px) {
    .img_modal{
        max-width: 95%;
    }
 }